/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*,,,,,,,,,,,,,,,,,,,,,main.css,,,,,,,,,,,,,,*/
		
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*,,,,,,,,,,,,,,,,,,,,,,header,,,,,,,,,,,,,,,,*/


.hero{
	display: grid;
	grid-template-columns: 50% 50%;
	height:60vw;

}
.hero-col1{
	background-image: url(../assets/media/images/1.jpg);
	background-size: cover;
	background-position: center;
	}
.hero-col1 h2{
	margin: 60px 0 0 30px;
	font-size: 25px;
	font-weight: 400;
}	
.hero-col2{
	background-color: pink;
	color: rgba(0,0,0,0.5);
}

nav .top-nav{
	display: flex;
	margin-top: 50px;
	padding: 20px;
}
.top-nav li{
	margin-left: 30px;
}
.top-nav li a{
	text-decoration: none;
	font-size: 12px;
	color: rgba(0,0,0,0.5);
}
.col2-bottom{
	margin: 150px 0 0 30px;
}
.col2-bottom h2{
	font-size: 40px;
	font-weight: 200;
	font-family: 'Quicksand', sans-serif;
}

.col2-bottom h2 span{
	color: black;
	font-weight: 500;
}
.hero-col2 p{
	font-size: 12px;
	margin-top: 30px;
}
.col2-bottom button{
	background-color: pink;
	border-radius: 20px;
	padding: 12px;
	border: 2px solid black;
	margin-top: 50px;
}


/*,,,,,,,,,,,,main section,,,,,,,,,,,,,*/


.row2{
	display: grid;
	grid-template-columns: 50% 25% 25%;
	height: 30vw;
}
.row2-col1{
	margin:50px 0 0 30px;
	display: grid;

}
.row2-col1 h1{
	font-size: 40px;
	font-family: 'Quicksand', sans-serif;
}
.row2-col1 p{
	color: rgba(0,0,0,0.5);
	font-size: 15px;
}
.row2-col2{
	background-image: url(../assets/media/images/3.jpg);
	background-size: cover;
	background-position: center;

}
.row2-col3{
	background-color: rgba(255,165,0,0.6);
}
.row2-col3 h1{
	font-family: 'Quicksand', sans-serif;
	color: white;

}
.row2-col3 p{
	color: white;
}
.range{
	margin: 40px 10px 0 20px;
}
.progress{
	margin-top: 30px;
}
.progress-bar label{
	color: black;
}


/*,,,,,,,,,,,,,section=row3,,,,,,,,,,,*/


.row3{
	display: grid;
	grid-template-columns: repeat(4, 25%);
	color: white;
}
.row3 div{
	padding: 50px;
	text-align: center;
}
.row3 i{
	font-size: 50px;
}
.row3-col1{
	background-color: rgba(255,165,0,0.6);
}
.row3-col2{
	background-color: rgba(247,14,17,0.7);
}
.row3-col3{
	background-color: black;
}
.row3-col4{
	background-color: white;
	color: black;
}


/*,,,,,,,,,,,,,section=row4,,,,,,,,,,*/


.row4{
	display: grid;
	grid-template-columns: 50% 50%;
	height: 30vw;
	
}
.row4-col1{
	background-image: url(../assets/media/images/4.jpg);
	background-size: cover;
	background-position: center;
}
.row4-col2{
	box-sizing: border-box;
	padding: 30px;
	background-color: rgba(247,14,17,0.7);
	color: white;
}
.row4 h2,
.row h1{
	font-family: 'Quicksand', sans-serif;
}
.graphic i,
.web i{
	font-size: 50px;
}
.graphic i,
.graphic div{
	display: inline-block;

}
.graphic div,
.web div{
	margin-left: 20px;
}
.web i,
.web div{
	display: inline-block;
}
.row4-col2 span,
.row5-col1 span{
	font-size: 15px;
	color: black;
	font-weight: 600;
}


/*,,,,,,,,,,,,row5,,,,,,,,,,,,*/

.row5{
	display: grid;
	grid-template-columns: 50% 50%;
	height: 40vw;
}
.row5-col1{
	background-color: rgba(255,165,0,0.6);
	box-sizing: border-box;
	padding: 40px;
	color: white;
}
.row5-col2{
	background-image: url(../assets/media/images/5.jpg);
	background-size: cover;
	background-position: center;

}
.row5-col1 span{
	color: olive;
	margin-left: 10px;
}
.row5 h2,
.ro5 h1{
	font-family: 'Quicksand', sans-serif;
}
.row5 .graphic,
.row5 .web{
	margin-top: 40px;
}