div{
	background-color: red;
	border: 2px solid black;
	height: 60px;
	width: 60px;
	margin:10px;
}
.box1{
	height: 50px;
	width: 50px;
	margin: 10px;
	padding:10px;
}
.box2{
	border: 2px dashed blue;
	margin: 10px;
	padding: 10px;
	height: 40px;
	width: 40px;
}
.box1, .box2{
	display: inline-block;
}
.box3, .box4{
	border: 2px dotted green;
	margin: 10px;
	padding: 10px;
	height: 50px;
	width: 50px;
	display: inline-block;
}
.box5{
	background-color: pink;
	height: 80px;
	width: 200px;
	border: 1px solid pink;
}
.box6{
	background-color: green;
	height: 20px;
	width: 80px;
	margin: 10px;
	padding: 10px;
	margin-left: 30px;
	border: 8px double red;
}
.box7{
	background-color: pink;
	height: 100px;
	width: 150px;
	border: 1px solid pink;
}