*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


.hero{
	display: grid;
	height: 300px;
	grid-template-rows: 50px 300px;
}
.head{
	background-color: black;
	color: white;
	font-size: 20px;
	padding: 10px;
	display: grid;
	grid-template-columns: 50px 500px;
}
.head img{
	height: 30px;
}
.hello{
	background: url(../assets/media/3.jpg);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns:30% 70%;
	padding: 20px;
	align-items: center;
	}
.hello h1{
	font-size: 90px;
	font-family: 'Nunito', sans-serif;
	color: white;
	font-weight: 700;
	grid-row: 1/2;
}
.hello p{
	color: white;

}


/*				gallery*/


.gallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content:center; 
	align-content: center;
	}
figure img{
	width: 20vw;
}