



*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-gap: 60px;
}
.hero{
	display: grid;
	height: 300px;
	grid-template-rows: 50px 300px;
}
.head{
	background-color: black;
	color: white;
	font-size: 20px;
	padding: 10px;
	display: grid;
	grid-template-columns: 50px 500px;
}
.head img{
	height: 30px;
}
.hello{
	background: url(../assets/media/3.jpg);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns:25% 70%;
	padding: 20px;
	align-items: center;
	}
.hello h1{
	font-size: 90px;
	font-family: 'Nunito', sans-serif;
	color: white;
	font-weight: 700;
	grid-row: 1/2;
	
}
.hello p{
	color: white;
	

}


/*				gallery*/


.gallery{
	display: grid;
	grid-template-columns: repeat(3, 250px);
	justify-content: center;
	grid-gap: 10px;
	
	}
figure img{
	width: 20vw;
}


@media screen and (max-width:480px){
	

	.head{
		font-size: 15px;
		
			}
	.head img{
		height: 25px;
		margin-left: 10px;
	}
	.hello{
		
		background-size: cover;
		background-position: center;
		grid-template-columns: none;
		grid-template-areas: 
		"h1"
		"p"
	}
	.hello h1{
		font-size: 70px;
		font-weight: 600;
		grid-area: h1;
	}
	.hello p{
		font-size: 15px;
		grid-area: p;
	}

	.gallery{
	grid-template-columns: none;
	justify-content: left;

	}
	figure img{
	width: 100vw;
	}
	}

	