*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container{
	display: grid;
	grid-gap: 0px;
}


/*,,,,,,,,header,,,,,,,,,,,*/


.hero{
	display: grid;
	grid-template-rows: 10% 80%;


}
.head{
	display: grid;
	grid-template-columns: 100px 300px;
}
.head img{
	width: 40%;
	height: 90%;
	margin-left: 40px;
}
.head h3{
	font-family: 'Berkshire Swash', cursive;
	font-size: 25px;
	color: brown;
}
.head2{
	display: grid;
	grid-template-columns: 30%
	50% 1fr;
	background-color: black;
}
.head2 .col1,
.row2 .col3{
	box-sizing: border-box;
	padding: 30px;
	background-color: black;
}
.head2 .col1 h3,
.row2 .col3 h3{
	color:white;
}
.head2 .col1 p,
.row2 .col3 p{
	color: white;
	font-size: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
}
.head2 .col1 span,
.row2 .col3 span{
	color: orange;
	font-size: 12px;
}
.col2 img{
	width: 100%;
	
	
}
.col3 img{
	height: 50%;
	width: 100%;
}


/*,,,,,,,,row2,,,,,,,,,,*/


.row2{
	display: grid;
	grid-template-columns: 35% 35% 30%;
	height: 300px;
	background-color: black;
}
.row2 .col1{
	display: grid;
	grid-template-columns: 50% 50%;

}
.row2 .col1 img{
	height: 77%;
	width: 100%;
	border: none;
}
.row2 .col2 img{
	height: 77%;
	width: 100%;
}


/*,,,,,,,,,row3,,,,,,,,,,,*/


.row3{
	display: grid;
	grid-template-columns: 33% 15% 1fr;
}
.row3 .col1 img,
.row3 .col2 img,
.row3 .col3 img{
	height: 70%;
	width: 100%;
}


@media screen and (max-width:480px){
	

	.head2{
		grid-template-columns: none;
	}
	.head2 img{
		width: 100vw;
	}
	.head img{
	width: 30%;
	height: 70%;
	margin-left: 50px;
}
.head h3{
	
	font-size: 20px;

}
.head{
	justify-content: center;
	align-items: center;
	width: 100vw;
}
.row2{
	grid-template-columns: none;
	width: 100vw;
	align-items: center;
}

.row2 img{
	width: 100vw;
}
.row2 .col3{
	width: 100vw;
	height: 100vw;
}
.row3{
	grid-template-columns: none;
	width: 100vw;
	align-items: center;
	justify-content: center;
}
.row3 img{
	width: 100vw;
	height: 100vw;
}
}


